*{
    margin:0;
    padding: 0;
    box-sizing:  border-box;
    font-family: Finland;

}

body{
    width: 100%;
    background-color: #1B191D;
}



.bg-custom {
    background-color: rgb(20, 21, 26);
}

.bg-footer{
    background-color: #2E2B2B;
}

.projects-section {
    background-color: #1B191D;
}

a{
    text-decoration: none;
}

/* Mayor a 800 */
@media (min-width: 800px) {

    .sec1
    {

        width: 100%;
        min-height: 100vh;
        overflow:  hidden;
        box-sizing: content-box;
        background-image: url('../img/Fondo1.jpg');
        background-size: cover;
        background-position: center;

    }

    .sec2 .content .imagen{
        max-height: 100px;

    }

    .content{
        width: 30.11vw;
        height: 57.4vh;
        margin-top: 19.2vh;
        margin-left: 11.1vw;

    }

    .content h1{
        font-size: 5vh;
        max-width: 19vw;
        color: white;
        text-align: center;
    }
    .textBox{
        margin-top: 9.54vh;
        margin-bottom: 15.4vh;
        margin-left: 4.5vw;
        color: white;

    }

    .sec1 p {
        font-size: 2.7vh;
        color: #707070;
    }


    button {
        border: none;
        color: white;
        padding: 0.8vw 4vw;
        text-align: center;
        text-decoration: none;
        font-size: 1.5vw;
        cursor: pointer;
        background-color: #36468F;
        border-radius: 30px;
    }

    .card-body .t-vacio {
        color: white;
    }

    .card-body h1 {
        line-height: 75%;
        font-size: 180px;
    }

    .margen-nov{
        margin-top: 20vh !important;
        margin-bottom: 20vh !important;
    }

    .plan-section{
        width: 100vw;
        height: 100vh;
        background-image: url('../img/Fondo2.jpg') !important;

    }



    .plan-section .titulo {
        padding-top: 15vh !important;
        margin-bottom: 8vh !important;

    }

    .plan-section .row .card {
        border-radius: 5vw !important;
    }



    .informacion{
        width: 100vw;
        height: 100vh;
        background-image: url('../img/Fondo2.jpg') !important;
    }

    .informacion .row .card {
        border-radius: 5vw !important;
    }

    .informacion .row .card-body{
        width: 80%;
    }

    h2{
        font-size: 8vh;
    }



    .solinfo{
        margin-top: 5vw;
    }

}


/* Menor a 800 */
@media (max-width: 800px) {

    .sec1
    {

        width: 100%;
        min-height: 100vh;
        box-sizing: border-box;
        overflow:  hidden;
        box-sizing: border-box;
        background-image: url('../img/Fondo1.jpg');
        background-size: cover;
        background-position: center;

        display: flex;
        justify-content: center;
        align-items: center;

    }



    .sec2 .content .imagen{
        max-height: 100px;

    }

    .content{

        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;

    }

    .content h1{
        font-size: 14vw;
        max-width: 19vh;
        line-height: 65%;
        color: white;
        text-align: center;
    }

    .textBox{

        color: white;

    }

    .sec1 p {
        font-size: 2.7vh;
        color: #707070;
    }


    button {
        border: none;
        color: white;
        padding: 1vw 5.7vw;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 3.2vw;
        cursor: pointer;
        background-color: #36468F;
        border-radius: 20px;
    }


    .card-body .t-vacio {
        color: white;
    }

    .card-body h1 {
        line-height: 75%;
        font-size: 180px;
    }

    .margen-nov{
        margin-top: 20vh !important;
        margin-bottom: 20vh !important;
    }

    .plan-section{

        background-image: url('../img/Fondo2.jpg') !important;

    }



    .plan-section .titulo {
        padding-top: 15vh !important;
        margin-bottom: 8vh !important;

    }

    .plan-section .row .card {
        border-radius: 5vw !important;

    }



    .informacion{
        background-image: url('../img/Fondo2.jpg') !important;
    }

    .informacion .row .card {
        border: none;
        color: white;
        border-radius: 5vw !important;
        background: none;
    }

    .informacion .row .card-body{
        width: 80%;
        background: none;
    }

    h2{
        font-size: 8vh;
    }



    .solinfo{
        margin-top: 18vh;
    }


    footer .container {
        display: inline-grid;

    }

    footer .container .row .col-lg-4{
        justify-content: center;
        display: grid;
    }

    footer .container .row{
        justify-content: center;
        display: grid;
    }



}


.logors {
    width: 40px;
    margin-right: 10px;
}